network-concurrency=8
fetch-timeout=180000
fetch-retries=5
fetch-retry-factor=2
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
audit-ignore-advisories=GHSA-w3rx-r6r6-pgpr,GHSA-5p2g-fcmc-qvqq,1138808,1138809
